# Preseed file for Ubuntu 16.04
# Copyright © 2016-2017  Basil Peace
#
# This file is part of FIDATA Infrastructure.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# 	http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.

d-i debian-installer/locale string en_US

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/choose_interface select auto

d-i netcfg/get_hostname ubuntu
d-i netcfg/get_domain fidata

d-i hw-detect/load_firmware boolean false

d-i passwd/root-login boolean false

d-i passwd/user-fullname string ubuntu
d-i passwd/username string ubuntu
d-i passwd/user-password password ubuntu
d-i passwd/user-password-again password ubuntu
d-i user-setup/allow-password-weak boolean true

d-i user-setup/encrypt-home boolean false

d-i clock-setup/utc boolean true

d-i time/zone string UTC

d-i partman-auto/method string lvm

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto-lvm/guided_size string max

d-i partman-auto/choose_recipe select atomic

d-i partman/confirm_write_new_label boolean true       
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

tasksel tasksel/first multiselect standard, ubuntu-server

d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select none

d-i pkgsel/language-packs multiselect en

d-i pkgsel/update-policy select none

d-i pkgsel/updatedb boolean false

d-i grub-installer/only_debian boolean true

d-i finish-install/reboot_in_progress note
